*{
    box-sizing: border-box;
    margin: 0;
}

.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

header{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    height: fit-content;
    background-color: #EAFFF0;
}

.logo{
    display: flex;
    flex-direction: column;
}

.logo img{
    padding-bottom: 12px;
}

.logo h1{
    display: inline;
    padding: 0;
    margin: 0;
    color: #333;
    font-weight: bold;
}

nav{
    background-color: #EAFFF0;
}

button.navbar-toggler:hover{
    background-color: #007bff;
    color: #cedede;
}

.carousel{
    width: 100%;
    height: 563px;
}

.carousel-caption{
    left: 0 !important;
    top: 20%;
    bottom: 20% !important;
    background-color: rgba(22, 22, 21, 0.6);
}

.carousel-item{
    height: 495px;
}

@media only screen and (min-width:767px){
    .carousel-item{
        height: 100%;
    }
}

#numbers div{
    border-radius: 10px;
    font-weight: bolder;
}

#numbers div p{
    font-size: 12px;
}

#services p{
    font-size: 12px;
}

.services div{
    border: 1px solid #333;
}

.services div:hover{
    border: 2px solid #333;
}

.services i{
    font-size: 40px;
    color: #007bff;

}

.services, .coming-soon h5{
    color: #007bff;
}

.coming-soon i{
    font-size: 40px;
    color: #007bff;
}

.coming-soon div{
    border: 1px solid #333;
}

.coming-soon div:hover{
    border: 2px solid #333;
}
/* 
.button{
    position: absolute;
    top: 40%;
}

.button .btn{
    width: 140px;
    text-transform: uppercase;
}

#header .avatar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #007bff;
}

main .row .col-md-3{
    height: 250px;
    background-color: rgba(201, 199, 193, 0.96);
}

main .row .col-md-3 span{
    color: #007bff;
    font-size: 25px;
}

.card{
    width: 50%;
    margin: auto;
}


.card .login-form input{
    height: 50px;
    background-color: rgb(221, 230, 230);
}

.card .forgot-password{
    float: right;
}

button.login{
    text-transform: uppercase;
    height: 50px;
}

.card-footer{
    background-color: #cedede;
}

.card-footer hr{
    width: 40px;
} */